*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

body
{
    background-color: lightblue;
    align-content: center;
}

section
{
    width: 90%;
    margin: auto;
}
h1
{
    margin-top: 60px;
    margin-bottom: 90px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 175%;
}

.item div
{
   position: relative;
   margin: 5px;
   margin-bottom: 5px;
   height: 175px;
   border: solid black; 

}

.item{margin: auto;}

hr{ clear: both;
margin: 40px;}



p{padding: 15px;}

.itemname
{
    font-size: 120%;
    padding-left: 5px;padding-right: 5px;
    float: right;
    border-left: solid black;
    border-bottom: solid black;
}
.content
{
    padding-top: 10px;
    clear: both;
}

#item1 div
{
    background-color: lightgoldenrodyellow;
}
#name1
{
    background-color: lightcoral;
}

#item2 div
{
    background-color: lightgreen;
}
#name2
{
    background-color: #d42211;
}

#item3 div
{
    background-color: lightpink;
}
#name3
{
    background-color: burlywood;
}

@media (min-width:1200px)
{
    .lcol4
    {
        float: left;
        width: 33.3%;
    }
}
@media (min-width:760px) and (max-width:1199px)
{
    .mcol6
    {
        float: left;
        width:50%;
    }
    .mcol12
    {
        float: left;
        width: 100%;
    }
}